[submodule "Modules/stm32f4xx-hal-led"]
	path = Vendors/stm32f4xx-hal-led
	url = git@github.com:pudjamansyurin/stm32f4xx-hal-led.git
[submodule "Modules/stm32f4xx-hal-dwt-counter"]
	path = Vendors/stm32f4xx-hal-dwt-counter
	url = git@github.com:pudjamansyurin/stm32f4xx-hal-dwt-counter.git
[submodule "Modules/stm32f4xx-hal-util"]
	path = Vendors/stm32f4xx-hal-util
	url = git@github.com:pudjamansyurin/stm32f4xx-hal-util.git
