[submodule "Modules/stm32f4xx-dwt-counter-module"]
	path = Modules/stm32f4xx-dwt-counter-module
	url = git@github.com:pudjamansyurin/stm32f4xx-dwt-counter-module.git
[submodule "Modules/stm32f4xx-hal-led-module"]
	path = Modules/stm32f4xx-hal-led-module
	url = git@github.com:pudjamansyurin/stm32f4xx-hal-led-module.git
[submodule "Modules/stm32f4xx-hal-common"]
	path = Modules/stm32f4xx-hal-common
	url = git@github.com:pudjamansyurin/stm32f4xx-hal-common.git
